button {
  img {
    margin-right: .5rem;
  }
  
  &.btn {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  &.btn-with-bg {
    color: #4CB5F5;
    background: white;
    border-radius: 1.5rem;
    padding: .5rem 1.5rem;
  }
    
  &.btn-normal {
    color: white;
  }
}