
.search-bar {
  position: relative;
  display: flex;
  margin-left: auto;
  width: 50%;

  img {
    position: relative;
    left: 2.5rem;
    background: #4CB5F5;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
    z-index: 1;
  }

  input {
    width: 100%;
    border-radius: 1.5rem;
    padding-left: 3rem;
    background: #E6E6E6;
    border: none;
    outline: none;
    transform-origin: left;
    animation-fill-mode: forwards;
  }

  .triangle {
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid #666666;
    cursor: pointer;
  }
  
  .flip {
    animation: flip .3s ease-out;
    animation-fill-mode: forwards;
  }

  .fold {
    animation: fold .3s ease-out;
    animation-fill-mode: forwards
  }
}

@keyframes flip {
  from {
    border-radius: 50%;
    transform: scaleX(0)
  }

  to {
    transform: scaleX(1)
  }
}

@keyframes fold {
  from {
    transform: scaleX(1)
  }
  
  to {
    border-radius: 50%;
    transform: scaleX(0)
  }
}