.modal {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  justify-content: center;
  align-items: center;

  .modal-content {
    display: grid;
    grid-template-areas: 
      "title title . . " 
      "input input input input" 
      ". cancel confirm .";
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-gap: 0 .75rem;
    padding: 1rem 2rem;
    width: 450px;
    height: 220px;
    background: white;
    border-radius: 8px;
    
    .title {
      grid-area: title;
      color: #666666;
      font-size: 1.6rem;
      margin: 0;
    }

    .input {
      grid-area: input;
      background: #E6E6E6;
      border: none;
      height: 2.5rem;
      padding: 0 1rem;
    }

    button {
      font-size: 1.5rem;
      padding: .5rem;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .cancel {
      grid-area: cancel;
      color: #707070;
    }

    .confirm {
      grid-area: confirm;
      background: #4CB5F5;
      color: white;
    }
  }
  
}